version: "3.9"
services:
  postgres:
    image: postgres:12.9
    environment:
      POSTGRES_DB: "task_manager_db"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    command: ["postgres", "-c", "log_statement=all"]
    volumes:
      - .:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - postgres-net
networks:
  postgres-net:
    driver: bridge